* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 233, 233);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 8px rgb(206, 199, 199);
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.nav-options {
    margin-right: 45px;
}

.nav-options a {
    text-decoration: none;
    padding: 20px;
    transition: 0.2s ease all;
}

.nav-options a:hover{
    background-color: rgb(224, 221, 221);
    padding: 20px;
    border-radius: 5px;
    text-shadow: 0px 0px 10px rgb(148, 152, 187);
}

#info-heading {
    padding: 10px 20px;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 15px;
}

.top-card {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.top-card span{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0;
}

.top-card:nth-child(1) {
    background-color: rgb(59, 110, 220);
}

.top-card:nth-child(2) {
    background-color: rgba(245, 147, 66);
}

.top-card:nth-child(3) {
    background-color: rgb(92, 176, 92);
}

.top-card:nth-child(4) {
    background-color: rgb(126, 98, 200);
}

.task-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 20px;
    background-color: rgb(238, 233, 233);
}

.task-card {
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgb(117, 112, 112);
    position: relative;

}

.task-card .top {
    padding: 14px;
    background-color: blue;
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-weight: 500;
}

.task-icon{
    text-decoration: none;

}

.form-group{
    padding: 15px 10px;
}   

.form-group input{
    padding: 10px 15px;
    width: 80%;
    font-size: 15px;
    border-radius: 10px;
    border:1px solid blue;
    transition: all 0.2s ease;
}

.form-group input:hover{
    border: 1px solid rgb(20, 126, 6);
}

.form-group input:focus{
    border: 2px solid rgb(30, 95, 192);
    outline: none;
}

.form-group button{
    padding: 11px 17px;
    font-size: 18px;
    background-color: #0f286dd7;
    border:none;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    margin-left: 13px;
    transition: all 0.25s ease;
}

.form-group button:hover{
    background-color: #3a5bb6d7;
    cursor: pointer;
}

.task-center-card{
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 8px rgb(202, 183, 183);
    margin: 2px;
}

.task-icon-container{
    padding: 1px 15px;
}

.task-icon{
    border-radius: 6px;
    padding: 15px 10px 8px 10px;
}

.task-icon img{
    height: auto;
    object-fit: contain;
}

.task-icon.done{
    background-color: rgb(2, 139, 2);
    transition: all 0.25s ease;
}

.task-icon.done:hover{
    background-color: rgb(17, 172, 17);
}

.task-icon.edit{
    background-color: #009688;   
    transition: all 0.25s ease;
}

.task-icon.edit:hover{
    background-color: #31cabb;   
}

.task-icon.delete{
    background-color: rgb(209, 6, 6);
    transition: all 0.25s ease;
}

.task-icon.delete:hover{
    background-color: rgb(238, 42, 42);
}

.task-icon.undone{
    background-color: rgb(190, 103, 4);
    transition: all 0.25s ease;
}

.task-icon.undone:hover{
    background-color: rgb(231, 139, 34);
}


.completed-status {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.completed-status span {
    padding: 10px;
} 
.status-card{
    font-weight: bold;
    opacity: 0.5;
    padding: 20px;
}


