* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 233, 233);
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 8px rgb(206, 199, 199);
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.logo-container a {
    text-decoration: none;
}

.logo-container a:active {
    color: #551a8b;
}

.logo-container a:hover {
    color: #6c3e97;
}

.nav-options {
    margin-right: 45px;
}

.nav-options a {
    text-decoration: none;
    padding: 20px;
    color: #031874;
    font-size: large;
    transition: 0.2s ease all;
}

.nav-options a:hover {
    background-color: rgb(105, 107, 109);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 10px rgb(136, 136, 141);
}

#info-heading {
    padding: 10px 20px;
    text-align: center;
    color: #08112e;
    margin-top: 10px;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 15px;
}

.top-card {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-card span {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0;
}

.top-card:nth-child(1) {
    background-color: rgb(59, 110, 220);
}

.top-card:nth-child(2) {
    background-color: rgba(245, 147, 66);
}

.top-card:nth-child(3) {
    background-color: rgb(92, 176, 92);
}

.top-card:nth-child(4) {
    background-color: rgb(126, 98, 200);
}

.task-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 20px;
    background-color: rgb(238, 233, 233);
}

.task-card {
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgb(117, 112, 112);
    position: relative;

}

.task-card .top {
    padding: 14px;
    background-color: blue;
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-weight: 500;
}

.task-icon {
    text-decoration: none;

}

.form-group {
    padding: 15px 10px;
}

.form-group input {
    padding: 10px 15px;
    width: 80%;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid blue;
    transition: all 0.2s ease;
}

.form-group input:hover {
    border: 1px solid rgb(20, 126, 6);
}

.form-group input:focus {
    border: 2px solid rgb(30, 95, 192);
    outline: none;
}

.form-group button {
    padding: 11px 17px;
    font-size: 18px;
    background-color: #0f286dd7;
    border: none;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    margin-left: 13px;
    transition: all 0.25s ease;
}

.form-group button:hover {
    background-color: #3a5bb6d7;
    cursor: pointer;
}

.task-center-card {
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 8px rgb(202, 183, 183);
    margin: 2px;
}

.task-center-card p {
    overflow-wrap: break-word;
    min-width: 0;
    flex: 1;
    max-width: 100%;
    word-break: break-all;
}

.task-icon-container {
    padding: 1px 15px;
    flex-shrink: 0;
}

.task-icon {
    border-radius: 6px;
    padding: 15px 10px 8px 10px;
}

.task-icon img {
    height: auto;
    object-fit: contain;
}

.task-icon.done {
    background-color: rgb(2, 139, 2);
    transition: all 0.25s ease;
}

.task-icon.done:hover {
    background-color: rgb(17, 172, 17);
}

.task-icon.edit {
    background-color: #009688;
    transition: all 0.25s ease;
}

.task-icon.edit:hover {
    background-color: #31cabb;
}

.task-icon.delete {
    background-color: rgb(209, 6, 6);
    transition: all 0.25s ease;
}

.task-icon.delete:hover {
    background-color: rgb(238, 42, 42);
}

.task-icon.undone {
    background-color: rgb(190, 103, 4);
    transition: all 0.25s ease;
}

.task-icon.undone:hover {
    background-color: rgb(231, 139, 34);
}


.completed-status {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.completed-status span {
    padding: 10px;
}

.status-card {
    font-weight: bold;
    opacity: 0.5;
    padding: 20px;
}

footer {
    background-color: #030405;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}


#edit-heading {
    text-align: center;
    padding: 15px;
    color: #031874;
    text-shadow: 3px 2px 4px rgb(155, 186, 190);
}

.edit-form {
    text-align: center;
}

.back-button {
    text-align: center;
    padding: 15px;
    margin: 20px 15px;
}

.back-button a {
    text-decoration: none;
    background-color: rgb(231, 0, 0);
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.back-button a:hover {
    background-color: rgb(255, 39, 39);
}

.about {
    width: 50%;
    margin: 35px auto;
    padding: 15px;
    background-color: rgb(219, 215, 215);
    border-radius: 8px;
    box-shadow: 0 0 13px rgb(138, 118, 118);
}

.about-content h2 {
    text-align: center;
    background-color: rgb(0, 0, 78);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.content-para {
    margin-top: 14px;
    padding: 10px;
    background-color: #5e3070;
    border-radius: 5px;
    color: white;
}

.creator {
    display: flex;
    align-items: center;
    margin-top: 14px;
    justify-content: space-around;
}


.photo {
    border-radius: 15px;
    margin: 15px;
    width: 120px;
    height: 130px;
    box-shadow: 0 0 15px rgb(53, 50, 50);
    background: linear-gradient(135deg, #dbdee2, #bbbdc2);
    overflow: hidden;
}

.photo::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(/static/images/me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.creator-name {
    background-color: rgb(40, 21, 56);
    padding: 15px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 10px rgb(22, 32, 46);
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}


.social-heading {
    margin-bottom: 15px;
    color: #09164d;
    text-shadow: 2px 2px 5px rgb(143, 132, 132);
}

.social-container {
    border-radius: 5px;
    width: 50%;
    margin: 35px auto;
    padding: 20px;
    text-align: center;
    background-color: #d9dbdb;
    box-shadow: 0 0 20px rgb(145, 141, 141);
}

.social-card img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.social-card h3 {
    padding: 10px;
}

.social-card a {
    color: rgb(4, 4, 68);
    font-weight: bold;
    padding: 10px;
    transition: all 0.2s ease;
}

.social-card a:hover {
    border-radius: 6px;
    color: white;
    background-color: rgb(49, 49, 148);
    padding: 10px;
}

.social-card p {
    padding-bottom: 20px;
}


@media (max-width: 1106px) {
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .about {
        width: 80%;
    }

    .social-container {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .task-container {
        grid-template-columns: 1fr;
    }

    .nav-options {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

.nav-options.show {
    display: flex;
    flex-direction: column;
    background: rgb(231, 229, 229);
    position: absolute;
    top: 20px;
    right: 0px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0.95;
}


@media (max-width:550px) {
    .info-container {
        grid-template-columns: 1fr;
    }

    .task-center-card {
        flex-direction: column;
        gap: 15px;
    }

    .task-icon-container {
        padding: 10px;
    }

    .about {
        width: 90%;
    }
}


@media (max-width:880px) {
    .creator {
        flex-direction: column;
    }
}