{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="TaskMaster" />
    {% comment %}set the color of top status bar in android{% endcomment %}
    <meta name="theme-color" content="#ffffff" />
    <title>{% block title %}TaskManager - Keep it done{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %} " sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
  </head>

  <body>
    <header>
      <nav class="container">
        <div class="logo-container">
          <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
          <a href="{% url 'home' %}"><h3>TaskMaster</h3></a>
        </div>

        <div class="nav-options">
          <a href=" {% url 'about' %} ">About</a>
          <a href="{% url 'social' %}">Social</a>
        </div>

        <button class="hamburger" aria-label="Toggle-menu">☰</button>
      </nav>
    </header>

    <div class="content">
      {% block content %}

      {% endblock %}
    </div>

    <footer>
      <p>&copy; 2025 TaskMaster. All Rights Reserved.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>
