{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 id="edit-heading">Update Task</h1>

  <div class="form-container">
    <form action="{% url 'edit_task' get_task.pk %}" method="POST">
      {% csrf_token %}
      <div class="form-group edit-form">
        <input type="text" name="task" class="form-control" placeholder="Add a task" value="{{ get_task.task }}" />
        <button type="submit">+ Update</button>
      </div>
    </form>
  </div>

  <div class="back-button">
    <a href=" {% url 'home' %} " ><span>&#x21B6; Back to home</span></a>
  </div>

  {% comment %}escapejs is a builtin filter in django which makes text safe for js preventing errors.{% endcomment %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <script>
          Swal.fire({
            title: 'Oops!',
            text: 'Task cannot be empty',
            icon: 'error',
            confirmButtonText: 'OK'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
